@import "color-functions";

$orange: hsl(30, 100%, 60%) !default;
$green: hsl(157, 100%, 38%) !default;

$primary: hsl(33,26%,52%) !default;
$primary-invert: hsl(0, 0%, 100%) !default;
$secondary: hsl(46,52%,94%) !default;
$secondary-invert: hsl(46,50%,74%) !default;
$white: hsl(0, 0%, 100%) !default;
$white-invert: findColorInvert($white);
$grey: hsl(0, 0%, 94%) !default;
$grey-invert: findColorInvert($grey);
$black: hsl(0, 0%, 0%) !default;
$black-invert: findColorInvert($black);

$colors: () !default;
$colors: map-merge(
    (
        'primary': ($primary, $primary-invert),
        'secondary': ($secondary, $secondary-invert),
        'white': ($white, $white-invert),
        'black': ($black, $black-invert),
        'grey': ($grey, $grey-invert),
        'green': ($green, findColorInvert($green))
    ),
    $colors
);
