{% extends 'base/app.twig' %}

{% block content %}
    {% set _img = Image('https://wijnclubamsterdam.nl/wp-content/uploads/sites/20/2020/05/hanging-wine-glasses-scaled.jpg') %}

    <!-- Hero banner -->
    <style>
        .no-webp .frontpage-hero {
            background-image: url("{{ _img.src }}");
        }

        .webp .frontpage-hero {
            background-image: url("{{ _img.src|towebp }}");
        }


        .frontpage-hero {
            height: 40vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
        }
        .frontpage-hero--large-title,
        .frontpage-hero--large-subtitle {
            font-weight: normal;
        }

    </style>
    <section class="frontpage-hero">
        <div class="container mx-auto content text-white">
            <h2 class="frontpage-hero--large-title">Helaas! Helemaal op...</h2>
            <h3 class="frontpage-hero--large-subtitle">
                Deze pagina bestaat niet. Ga naar de
                <a href="/">homepage</a> of bekijk alles in de <a href="{{ get_store_url() }}">winkel</a></h3>
        </div>
    </section>
{% endblock %}
