{% extends 'base/app.twig' %}

{% block header %}
    {{ parent() }}
{#    {% include 'partials/home/herobanner.html.twig' %}#}
{% endblock %}

{% block content %}
    <div>
        {{ post.content }}
    </div>
{% endblock %}
