{% extends 'base/app.twig' %}

{% block content %}
    <main class="container mx-auto px-4 lg:px-0 py-4 content">
        <h1>{{ post.title }}</h1>
        {{ post.content }}
    </main>
{% endblock %}
