$header-background: $primary !default;
$header-color: $white !default;
$header-padding: $padding_small !default;
$header-shadow: true !default;
$header-sticky: true !default;
$topnav-spacing: $padding_small !default;

header.header {
  @apply bg-tertiary text-black;
  padding: $header-padding;

  @screen lg {
    @apply bg-tertiary;
  }

  .custom_logo_wrapper {
    margin-left: auto;

    @screen lg {
      display: none;
    }
  }

  .custom_logo {
    max-height: 27px;
    @screen lg {
      max-height: 40px;
    }
  }

  & .header-usps {
    display: none;

    @screen lg {
      display: flex;
    }
  }
}

.top-navigation {
  margin-left: auto;

  @if ($topnav-spacing) {
    & > .top-nav-item:not(:last-of-type) {
      margin-right: $topnav-spacing;
    }
  }
}

.top-nav-item.menu-item {
  color: $black;
  display: inline-block;
  width: unset;
}

.bulbed {
  background: $header-color;
  color: $header-background;
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.js-menu-open {
  display: block;
}
