$logo-height: 65px !default;

.logo-header {
  background: $primary;
  padding: .5rem 0;

  .custom_logo_wrapper {
    display: none;

    @screen lg {
      display: block;
    }
  }

  @screen lg {
    background: $secondary;
    padding: 1rem 0;
  }
}

.custom_logo {
  max-height: $logo-height;
  @media screen and (max-width: 1023px) {
    max-width: 300px !important;
    margin-bottom: .5rem;
  }
}

.custom_logo_wrapper {
  display: flex;
  align-items: center;
}
