$search-form-color: $black !default;
$search-form-background-color: scale-color($white, $alpha: -40%) !default;
$search-form-padding: $padding_small !default;

$search-form-border-width: 1px !default;
$search-form-border-color: #1c413f !default;

.search-form {
  background: $search-form-background-color;
  display: flex;
  padding: $search-form-padding;
  border: $search-form-border-width solid $search-form-border-color;

  & .search-form-input {
    color: $black;
    width: 100%;
    &:focus {
      outline: none;
    }
  }

  & .search-button {
    color: $search-form-color;
  }

  @include radii;

  @screen lg {
    &:focus-within {
      position: absolute;
      background: hsl(0, 0%, 100%);
      right: 0;
      bottom: 0;
      top: 0;
      left: 15vw;

      button {
        display: block;
      }

      & .search-app {
        width: 100%;
      }
    }
  }
}
