{% extends 'base/app.twig' %}

{% block content %}
    <main class="container mx-auto px-4 lg:px-0 py-4 content">
        <h1>{{ __('Wijnen van de druif %s', 'winc')|format(post.title) }}</h1>
        {% do action('winc/single/druif/'~post.slug~'/excerpt/pre') %}
        {{ post.post_excerpt|wpautop }}
        {% do action('winc/single/druif/'~post.slug~'/excerpt/post') %}

        <div class="products px-4 lg:px-0 py-4">
        {% do action('winc/single/druif/'~post.slug~'/products/pre') %}
            {% for product in products|apply_filters('winc/single/druif/'~post.slug~'/products') %}
                {{ include('partials/tease/product.twig', { product: product }, with_context = false) }}
            {% endfor %}
        {% do action('winc/single/druif/'~post.slug~'/products/post') %}
        </div>

        {% do action('winc/single/druif/'~post.slug~'/content/pre') %}
        {{ post.content|wpautop }}
        {% do action('winc/single/druif/'~post.slug~'/content/post') %}
    </main>
{% endblock %}
