{% extends 'base/app.twig' %}

{% block content %}
    <main class="container mx-auto px-4 lg:px-0 py-4 content">
        <h1>{{ __('Wijnen van %s', 'wijnen')|format(post.title) }}</h1>
        {% do action('wijnen/single/domain/'~post.slug~'/excerpt/pre') %}
        {{ post.get_field('intro')|wpautop }}
        {% do action('wijnen/single/domain/'~post.slug~'/excerpt/post') %}

        <div class="products-large horizontal-products-unbound px-4 lg:px-0 py-4">
            {% do action('wijnen/single/domain/'~post.slug~'/products/pre') %}
            {% for product in products|apply_filters('wijnen/single/domain/'~post.slug~'/products') %}
                {{ include('partials/tease/product.twig', { product: product }, with_context = false) }}
            {% endfor %}
            {% do action('wijnen/single/domain/'~post.slug~'/products/post') %}
        </div>

        {% do action('wijnen/single/domain/'~post.slug~'/content/pre') %}
        {{ post.content|wpautop }}
        {% do action('wijnen/single/domain/'~post.slug~'/content/post') %}
    </main>
{% endblock %}
