<article class="lg:w-2/5">
    <a href="{{ kiyoh.kiyoh_url }}" target="_blank" class="kiyoh-reviews" rel="noopener noreferrer">
        <img src="{{ theme.link }}/dist/images/kiyoh.png">
        <div style="display: flex;flex-direction: column;justify-content: center;">
            <span class="kiyoh-score">{{ kiyoh.total_score }}</span>
            <span class="block">
                {{ kiyoh.total_reviews }} Beoordelingen
            </span>
        </div>
    </a>
</article>
