<div class="products-large horizontal-products-unbound px-4 lg:px-0 py-4">
    {% for product in products %}
        {{ include('partials/tease/product.twig', { product: product }, with_context = false) }}
    {% endfor %}
</div>
