{% macro tease_price(product) %}
    <a
        class="product-large-price"
        title="{{ __('bekijk %s', 'wijnen')|format(product.get_title) }}"
        href="{{ product.get_permalink }}">
        {{ product.get_price_html }}
    </a>
{% endmacro %}
