@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@300;400&family=Rufina:wght@700&display=swap');

html {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

%content {
  & h1 {
    font-size: $fontSizeXXLarge;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    font-family: 'Rufina', serif;
  }

  & h2 {
    font-size: $fontSizeXLarge;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 1rem;
    font-family: 'Rufina', serif;
  }

  & p {
    margin-bottom: 1rem;
  }

  & h3 {
    font-size: $fontSizeLarge;
    font-weight: bold;
    line-height: 1.25;
    margin-bottom: 1rem;
    font-family: 'Rufina', serif;
  }

  & h4 {
    font-weight: bold;
    font-family: 'Rufina', serif;
  }

  & a {
    @include transition;
    text-decoration: underline;

    &:hover {
      color: $primary;
    }
  }

  & ul {
    padding-left: 2rem;
    list-style-type: circle;
  }
}

.bg-primary {
  & a {
    &:hover {
      color: $secondary
    }
  }
}

.content {
  @extend %content;
}
