$footer-background-color: scale-color($grey, $lightness: 65%) !default;
$footer-padding: $padding 0 0 !default;

$nix18-margins: $padding_small auto $padding_small 0 !default;
$nix18-width: 150px !default;

.footer {
  background: $footer-background-color;
  padding: $footer-padding;

  & .nix-18-logo {
    width: $nix18-width;
    margin: $nix18-margins;
  }

  & .menuitem {
    @media screen and (max-width: 1023px) {
      padding: 0.5rem 0;
    }
  }
}

.secure-pay-icon {
  margin: 0 2% 2% 0;
  min-height: 30px;

  &:last-of-type {
    height: 31px;
  }
}

.footer-list-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: .5rem;
  border-bottom: 1px solid $primary;

  @screen lg {
    border-bottom: none;
    padding: .5rem 0;
    cursor: default;
    svg {
      display: none;
    }
  }
}

.footer-list {
  transform: scale(0, 1);
  display: none;
  flex-direction: column;
  cursor: pointer;

  @screen lg {
    display: flex;
    transform: scale(1);
  }
}

.shortened-list {
  &.active {
    & .footer-list {
      transform: scale(1);
      transform-origin: top center;
      display: flex;
    }
  }
}
