.mc-input {
    display: block;
    padding: $padding_small $padding;
    border: 1px solid $primary;
    margin: $padding_small 0;

    color: $primary;
    border-radius: $radius;

    width: 100%;
    &::placeholder {
        color: adjust-color($primary, $alpha: -0.3);
    }
}

.form-row {
    & .input-text {
        border: 1px solid $primary;
        padding: .5rem 1rem;
        border-radius: .25rem;
    }
}
