%product-card {
  $card_radius: 0;
  @extend %card;

  position: relative;
  padding: 1rem;

  a {
    text-decoration: none;
  }

  display: grid;
  grid-template-areas: "thumb thumb title title"
                         "thumb thumb . ."
                         "thumb thumb origin origin"
                         "thumb thumb price price"
                         "thumb thumb button button";
  grid-template-columns: 40px 40px 1fr 1fr;
  grid-column-gap: $product-card-lg-hor-grid-gap;
  margin: $product-card-lg-hor-margin;

  & .product-label {
    position: absolute;
    top: 2rem;
    left: 0;
    background: $product-card-sm-label-background;
    color: $product-card-sm-label-color;
    border-top-right-radius: $product-card-sm-label-radius;
    border-bottom-right-radius: $product-card-sm-label-radius;
    padding: $product-card-sm-label-padding;
    width: 105px;

    @screen lg {
      width: max-content;
    }
  }

  .product-large-image {
    //height: $product-card-lg-hor-image-height;
  }

  .product-origins {
    grid-area: origin;
    margin-top: auto;
  }

  .product-add-to-cart {
    grid-area: button;
    margin-top: .5rem;
    @screen lg {
      margin-top: auto;
    }
  }

  @screen lg {
    grid-template-columns: 20px 20px 1fr 1fr;
    padding: 1.5rem;
  }
}

.product-card-large {
  @extend %product-card;
  @screen lg {
    display: flex;
    flex-direction: column;
    align-items: center;

    .product-large-image {
      height: unset;
    }

  }
}

.product-large-price {
  color: $product-card-lg-price-color;
  font-size: $product-card-lg-price-fontsize;
  margin: $product-card-lg-price-margin;

  @media screen and (max-width: 1023px) {
    grid-area: price;
  }
}

.product-large-title {
  color: $product-card-lg-title-color;
  font-size: $product-card-lg-title-fontsize;
  margin: $product-card-lg-title-margin;
  font-weight: $product-card-lg-title-fontweight;
  text-align: center;

  @screen lg {
    //min-height: $product-card-lg-title-height;
  }

  @media screen and (max-width: 1023px) {
    grid-area: title;
    text-align: left;
  }
}

/**
Horizontal product card.
 */
.product-card-large-horizontal {
  @extend %product-card;

  .product-large-image-wrapper {
    grid-area: thumb;
  }

  .pr-add-to-cart-wrapper {
    grid-area: button;
  }

  .product-large-title {
    grid-area: title;
    text-align: left;
  }

  .product-large-price {
    grid-area: price;
    margin: 0;
  }
}

.product-large-add-to-cart {
  grid-area: button;
}

.products-image--products {
  display: grid;

  grid-template-columns: 1fr;
  grid-gap: $padding;

  @screen lg {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.products-image--caption {
  text-align: center;
}


.product-large-image-wrapper {
  grid-area: thumb;
}
