<strong>{{ 'Voordelen'|apply_filters('wijnen/footer/benefits-list/title') }}</strong>
{% do action('wijnen/footer/benefits-list/pre') %}
<ul class="list-disc">
    {% do action('wijnen/footer/benefits-list/list/pre') %}
    <li>Groot assortiment wijnen op voorraad</li>
    <li>Per fles te bestellen</li>
    <li>Gratis verzending vanaf € 60,- (NL),<br> € 100,- (BE)</li>
    <li>Snel bezorgd via PostNL: Voor 15:00 uur besteld, zelfde werkdag verzonden</li>
    <li>Ophalen in Amsterdam mogelijk</li>
    {% do action('wijnen/footer/benefits-list/list/post') %}
</ul>
{% do action('wijnen/footer/benefits-list/post') %}
