.products-large-store {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: $padding_small;
  padding: $padding 0;

  @sreen md {
    grid-template-columns: repeat(4, 1fr);
  }
}

@include below-screen('md') {
  .filter-container {
    padding: 1rem;
    transform: scale(1, 0);
    transform-origin: top;
    transition: all 225ms linear;
    position: absolute;
    &.active {
      transform: scale(1);
      position: static;
    }
  }
}

label[for^="payment_method_"] {
  & img {
    display: inline;
  }
}

.woocommerce-ordering {
  .orderby {
    padding: .5rem;
    box-shaddow: 0 3px 6px rgba(51, 51, 51, .2);
  }
}

.products-large {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;

  @screen lg {
    grid-template-columns: repeat(4, 2fr) 1fr;

  }

  .products-large-cta {
    grid-column: 5;
  }


  &.horizontal-products {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr .5fr;

    &.products-large-cta {
      grid-column: 1/3;
    }
  }
}

.pr-add-to-cart {
  flex: 0 1 45%;
}
