$btn-padding-normal: ($padding_small / 2) 0 !default;
$btn-padding-small: 0 !default;
$btn-padding-large: $padding_small !default;

$btn-border-width: 1px !default;
$btn-border-style: solid !default;
