.category-listing {
  @apply px-4 pt-4;
  display: flex;
  overflow: scroll;
  scroll-snap-type: x proximity;
  flex-direction: column;

  @screen lg {
    display: none;
  }

  .category-item {
    @apply p-2 mb-2;
    flex: 1 0 auto;
    border: 1px solid $secondary;
    color: $primary;
    scroll-snap-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:last-of-type {
      @apply mb-0;

      @screen lg {
        @apply mr-0;
      }
    }

    @screen lg {
      @apply mr-2 mb-0;
      flex-basis: 200px;
    }
  }

  @screen lg {
    @apply px-0;
    overflow: auto;
    flex-direction: row;
  }
}

.category-item {
  img {
    height: 57px;
  }
}
