{% macro search_form(search_placeholder = '') %}
    <form method="GET" role="search" class="search-form js-search-form" action="/">
        <div id="search-app"></div>
        <noscript>
            <label for="s" class="sr-only">{{ __('Zoeken naar...', 'winc') }}</label>
            <input
                    type="search"
                    name="s"
                    id="s"
                    class="search-form-input"
                    placeholder="{{ search_placeholder }}" />
            <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
        </noscript>
    </form>
{% endmacro %}
